#todo-error{
  color: red;
  font-size: 2em;
}

ul.no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
}


#clock {
  margin-top: 15rem;
  font-size: 5rem;
  display: flex;
}

.outline {
    color: rgb(26, 1, 1);
    text-shadow:
    -0.5px -0.5px 0 rgb(240, 235, 235),
    0.5px -0.5px 0 rgb(240, 235, 235),
    -0.5px 0.5px 0 rgb(240, 235, 235),
    0.5px 0.5px 0 rgb(240, 235, 235);  
}

.btn-circle {
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  padding: 0;
  border-radius: 50%;
  font-size: 0.5em;
}


button:focus, .btn.focus, .btn:focus {
    outline: none !important ;
    box-shadow: none !important;
}

.flexend {
  align-items: flex-end;
}

.quote {
  margin-top: 10rem;
}

.marleft {
  margin-left: 10rem;
}

.width {
  width: 18rem;
}

.tinyfont {
    font-size: 0.7rem;
    text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;  
}

.hide {
  visibility: hidden;
}

.quote:hover + .hide {
  visibility: visible;
  color: rgb(26, 1, 1);
}